<h1>All coins</h1>
 
<table>
  <tr>
    <th>Coin</th>
    <th>Value</th>
    <th colspan="2"></th>
  </tr>
 
  <% @coins.each do |coin| %>
    <tr>
      <td><%= coin.name %></td>
      <td><%= coin.value %></td>
      <td><%= link_to 'Show', coin_path(coin) %></td>
      <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
      <td><%= link_to 'Destroy', coin_path(coin),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Coin', new_coin_path %>

